.details {
  margin-bottom: 10px;
  position: relative;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.story {
  width: 100%;
  text-align: center;

  .button-group {
    margin-bottom: 10px;
  }
}

.panel {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px #8a8888;
  text-align: center;
}

.primary-panel {
  background-color: #45ba47;
  color: #fff;
}

.warning-panel {
  background-color: #dc9877;
  color: #fff;
}

.palevioletred-panel {
  background-color: #c1b0dd;
  color: #fff;
}

.info-panel {
  background-color: #68bbd8;
  color: #fff;
}

.storyes-card.justify-content-center {
  position: relative;
}
