.details {
  margin-bottom: 10px;
  position: relative;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.story {
  width: 100%;
  text-align: center;

  .button-group {
    margin-bottom: 5px;
  }
}

.storyes-card.justify-content-center {
  position: relative;
}
