<div class="container-fluid mt-5">
    <mat-card class="example-card">
        <mat-card-header class="header-center">
            <mat-card-title>Employee Transfer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="storyes-card row justify-content-center mt-4">
                <div class="storyes col-auto" *ngFor="let timeline of timelines">
                    <div class="arrow first">
                        <i class="fa fa-arrow-right"></i>
                    </div>

                    <div class="story">
                        <div class="year">{{timeline.year}}</div>
                        <div class="row justify-content-center g-1">
                            <div class="col-auto">
                                <div class="details">
                                    <div class="panel primary-panel">{{timeline.department}}</div>
                                    <div class="arrow second">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="story">
                        <div class="row justify-content-center g-1">
                            <div class="col-auto">
                                <div class="details">
                                    <div class="panel warning-panel">{{timeline.office}}</div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="details">
                                    <div class="panel palevioletred-panel">{{timeline.city}} {{timeline.country}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="story">
                        <div class="row justify-content-center g-1">
                            <div class="col-auto">
                                <div class="details">
                                    <div class="panel info-panel">{{timeline.position.position1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="story">
                        <div class="row justify-content-center g-1">
                            <div class="col-auto">
                                <div class="details">
                                    <div class="panel info-panel" *ngIf="timeline.position.position2">
                                        {{timeline.position.position2}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>



</div>