<div class="container-fluid mt-5">
    <app-breadcrumb></app-breadcrumb>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Employee List</mat-card-title>
            <div class="filters ms-auto">
                <mat-form-field>
                    <mat-label>Active/Non-Active</mat-label>
                    <mat-select [(ngModel)]="activeVal" (selectionChange)="changeStatus($event, null)"
                        disableOptionCentering>
                        <mat-option [value]="active.value" *ngFor="let active of activeEmployees">
                            {{ active.status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sort By</mat-label>
                    <mat-select [(ngModel)]="sortData" (selectionChange)="changeOrder($event, null)"
                        disableOptionCentering>
                        <mat-option *ngFor="let empSort of employeeSort" [value]="empSort.value">
                            {{empSort.sort}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="mr-1">
                    <mat-label>Search By</mat-label>
                    <mat-select [(ngModel)]="searchData" (selectionChange)="searchByValues($event.value)"
                        disableOptionCentering panelClass="myPanelClass">
                        <mat-option *ngFor="let empSearch of searchBy" [value]="empSearch.value">
                            {{empSearch.search}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput [(ngModel)]="filter" #ngModel placeholder="filter" #input>
                </mat-form-field>
                <div class="btn-panel">
                    <button mat-button (click)="applyFilter()">Search</button>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-table class="custom-table mb-3" #dtable [dataSource]="dataSource">
                <div *ngFor="let column of columns">

                    <ng-container [cdkColumnDef]="column.columnDef">
                        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element" [matMenuTriggerFor]="clickmenu">
                            <button mat-icon-button>
                                {{column.cell(element)}}
                                <mat-menu #clickmenu="matMenu">
                                    <ng-container *ngFor="let item of menuListItems">
                                        <button mat-menu-item (click)="navigate(item.path, element.empID)"
                                            class="grid-button">{{
                                            item.menuLinkText
                                            }}</button>
                                    </ng-container>
                                </mat-menu>
                            </button>
                        </mat-cell>
                    </ng-container>
                </div>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
                    (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <mat-paginator firstPageLabel="First" [length]="20" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>