<div class="container mt-5">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
        <div class="col-md-12">
            <app-employee-timeline-summary></app-employee-timeline-summary>
            <anms-employment-story class="pb-3"></anms-employment-story>
            <anms-transfer-story></anms-transfer-story>
            <anms-band-designation-graph class="graph-card"></anms-band-designation-graph>
            <anms-performance-history-graph class="graph-card"></anms-performance-history-graph>
            <anms-emp-salary-history-graph class="graph-card"></anms-emp-salary-history-graph>
        </div>
    </div>
</div>