<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3">
                <!-- <app-employee-timeline-summary></app-employee-timeline-summary> -->
                <div class="col-md-7">
                    <anms-employment-story></anms-employment-story>
                </div>
                <div class="col-md-5">
                    <anms-emp-salary-history-graph></anms-emp-salary-history-graph>
                    <anms-band-designation-graph></anms-band-designation-graph>
                    <anms-performance-history-graph></anms-performance-history-graph>
                </div>
            </div>
        </div>
    </div>
</div>

<anms-transfer-story></anms-transfer-story>