<div class="container-fluid mt-5">
    <app-breadcrumb></app-breadcrumb>
    <app-employee-timeline-summary></app-employee-timeline-summary>

    <div class="mdc-layout-grid p-0">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-tablet">
                <anms-employment-story class="pb-3"></anms-employment-story>
            </div>

            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet">
                <anms-band-designation-graph class="graph-card"></anms-band-designation-graph>
                <anms-performance-history-graph class="graph-card"></anms-performance-history-graph>
                <anms-emp-salary-history-graph class="graph-card"></anms-emp-salary-history-graph>
            </div>
        </div>
    </div>

    <anms-transfer-story></anms-transfer-story>
</div>