<div *ngFor="let groups of persons">
  <div *ngFor="let group of groups.years">
    <div class="mdc-layout-grid padding-0">
      <div class="mdc-layout-grid__inner mb-10">
        <div
          class="
            mdc-layout-grid__cell
            mdc-layout-grid__cell--span-1-desktop
            mdc-layout-grid__cell--span-4-tablet
            mdc-layout-grid__cell--span-4-phone
            self-center
          "
        >
          <div class="details" *ngIf="group.emp_pic">
            <img src="{{ group.emp_pic }}" alt="" (click)="EmpInfo(group)" />
          </div>
          <div class="details" *ngIf="!group.emp_pic">
            <img
              src="assets/images/dummy-pic.jpg"
              alt=""
              (click)="EmpInfo(group)"
            />
          </div>
        </div>
        <div
          class="
            mdc-layout-grid__cell
            mdc-layout-grid__cell--span-3-desktop
            mdc-layout-grid__cell--span-4-tablet
            mdc-layout-grid__cell--span-4-phone
          "
        >
          <div class="button-group">
            <button
              class="name_btn"
              mat-raised-button
              matTooltipPosition="above"
              matTooltip="{{ group.emp_name }}"
              (click)="empName(group)"
            >
              {{ group.emp_name }}
            </button>
          </div>
          <div class="button-group">
            <button
              class="designation_btn"
              mat-raised-button
              matTooltipPosition="below"
              matTooltip="{{ group.ending_designation }}"
              (click)="endingDesignation(group)"
            >
              {{ group.ending_designation }}
            </button>
            <button
              class="department_btn"
              mat-raised-button
              matTooltipPosition="below"
              matTooltip="{{group.ending_department }}"
              (click)="endingDepartment(group)"
            >
              {{ group.ending_department }}
            </button>
          </div>
        </div>
        <div
          class="
            mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop
            align-right
            mdc-layout-grid__cell--span-4-tablet
            mdc-layout-grid__cell--span-4-phone
          "
        ></div>
        <div
          class="
            mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop
            align-right
            mdc-layout-grid__cell--span-4-tablet
            mdc-layout-grid__cell--span-4-phone
          "
        >
          <div class="button-group">
            <button
              class="year-btn"
              mat-raised-button
              matTooltipPosition="above"
              matTooltip="{{ group.starting_year}}"
              (click)="years(group)"
            >
              {{ group.starting_year }} - {{ group.ending_year }}
            </button>
            <button
              class="band_btn"
              mat-raised-button
              matTooltipPosition="above"
              matTooltip="{{ group.ending_band }}"
              (click)="bands(group)"
            >
              {{ group.ending_band }} - {{ group.latest_band }}
            </button>
          </div>
          <div class="button-group">
            <button
              class="designation_btn"
              matTooltipPosition="below"
              matTooltip="{{ group.starting_designation }} - {{ group.ending_designation }}"
              mat-raised-button
              (click)="designations(group)"
            >
              {{ group.starting_designation }} -
              {{ group.ending_designation }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
