<div class="" *ngFor="let group of persons">
    <div class="mdc-layout-grid padding-0">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="details">
                    <img src={{group.imgUrl}} alt="">
                </div>
            </div>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="button-group">
                    <button class="designation_btn" mat-raised-button>
                        {{group.name}}
                    </button>
                </div>
                <div class="button-group">
                    <button class="band_btn" mat-raised-button>
                        {{group.designation}}
                    </button>
                    <button class="department_btn" mat-raised-button>
                        {{group.department}}
                    </button>
                </div>
            </div>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop align-right mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="button-group">
                    <button class="department_btn" mat-raised-button>
                        {{group.joiningYear}} - {{group.currentYear}}

                    </button>
                    <button class="band_btn" mat-raised-button>
                        {{group.band}} - {{group.currentBand}}
                    </button>
                </div>
                <div class="button-group">
                    <button class="band_btn" mat-raised-button>
                        {{group.designation}} -
                        {{group.currentDesignation}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>