<div class="container-fluid mt-5">
    <app-breadcrumb></app-breadcrumb>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Salary Change</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-table class="custom-table" #tableemployeeSalaryChange [dataSource]="dataSource">
                <div *ngFor="let column of columns">
                    <ng-container [cdkColumnDef]="column.columnDef"
                        *ngIf="column.header != 'Variable Components' && column.header != 'Fixed Components'">
                        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let row">{{
                            column.cell(row)}}</mat-cell>
                    </ng-container>
                    <ng-container [cdkColumnDef]="column.columnDef" *ngIf="column.header == 'Fixed Components'">
                        <mat-header-cell *cdkHeaderCellDef >{{ column.header }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let element" (click)="openFixed()">
                            <button class="grid-button" mat-icon-button >
                                {{column.cell(element)}}
                            </button>
                        </mat-cell>
                    </ng-container>
                    <ng-container [cdkColumnDef]="column.columnDef" *ngIf="column.header == 'Variable Components'">
                        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
                        <mat-cell *cdkCellDef="let ele" (click)="openVariable()">
                            <button class="grid-button" mat-icon-button >
                                {{column.cell(ele)}}
                            </button>
                        </mat-cell>
                    </ng-container>
                </div>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-card-actions>
            <mat-paginator firstPageLabel="First" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>