<div class="container-fluid mt-5">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <div class="row g-10">
        <div class="col-4">
            <mat-card class="example-card w-100">
                <mat-card-header>
                    <mat-card-title>HR Manager Profile</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-border-0">
                        <tbody>
                            <tr>
                                <td scope="row">Name</td>
                                <td><strong>Muhammad Waqas Nasir</strong></td>
                            </tr>
                            <tr>
                                <td scope="row">Company</td>
                                <td><strong>Professional Employees Pvt. Ltd.</strong></td>
                            </tr>
                            <tr>
                                <td scope="row">Department</td>
                                <td><strong>HR</strong></td>
                            </tr>
                            <tr>
                                <td scope="row">Last Login</td>
                                <td><strong>06-oct=2020 05:07 PM</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card class="example-card w-100">
                <mat-card-header>
                    <mat-card-title>Updates</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <ul class="simple-list">
                        <li><i class="fas fa-check"></i> 866 Leave Applications are approved </li>
                        <li><i class="fas fa-times"></i> 11 Leave Applications are disapproved</li>
                        <li><i class="fas fa-check"></i> 5 Expose Applications have been approved by Line Manager</li>
                        <li><i class="fas fa-check"></i> 1 Travel Application have been received</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card class="example-card w-100">
                <mat-card-header>
                    <mat-card-title>New Employees</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-default">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            No records Found
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-card class="example-card w-100">
                <mat-card-header>
                    <mat-card-title>Application Status</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-default">
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pending">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Pending</th>
                            <td mat-cell *matCellDef="let element" class="text-center"> {{element.pending}} </td>
                        </ng-container>

                        <ng-container matColumnDef="approved">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Approved</th>
                            <td mat-cell *matCellDef="let element" class="text-center"> {{element.approved}} </td>
                        </ng-container>

                        <ng-container matColumnDef="disapproved">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Disapproved</th>
                            <td mat-cell *matCellDef="let element" class="text-center"> {{element.disapproved}} </td>
                        </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Total</th>
                            <td mat-cell *matCellDef="let element" class="text-center"> {{element.total}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>