// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@import "styles-variables";

@import "../node_modules/font-awesome/css/font-awesome.css";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

@include mat.core();

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

.h1,
h1,
.mat-card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.h2,
h2,
.mat-card-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

table {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

%normal-fonts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $text-color;
}

%bold-fonts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

%heading-fonts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: $primarey-color;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

.mat-menu-content {
  fa-icon {
    position: relative;
    top: 2px;
    left: 4px;
  }
}

p {
  a {
    border-bottom: 3px solid;
  }
}

.w-100 {
  width: 100%;
}

.mat-card {
  box-shadow: none !important;
  color: $text-color;
  padding: 0 !important;
  height: 100%;

  .mat-card-header {
    background: linear-gradient($bg-color, $bg-color-2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .mat-card-header-text {
      margin: 7px 20px;
    }

    .mat-card-title {
      font-size: 12px;
      margin-bottom: 0;
      color: $text-color;
    }
  }

  .mat-card-content {
    border: 1px solid $border-color;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 7px 20px;
  }
}

.table {
  tr {
    th,
    td {
      padding: 5px;
    }
  }
}

.table-border-0 {
  tr {
    th,
    td {
      border: 0;
    }
  }
}

.simple-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    i {
      margin-right: 10px;

      &.fa-check {
        color: green;
      }

      &.fa-times {
        color: red;
      }
    }
  }
}

.table-default {
  border: 1px solid $border-color-2 !important;
  box-shadow: none !important;

  thead {
    background-color: #f2f2f2;
  }

  tr {
    &.mat-row,
    &.mat-footer-row,
    &.mat-header-row {
      height: auto;
      padding: 5px;
    }

    &.mat-header-row {
      th,
      tr {
        @extend %normal-fonts;
      }
    }

    th,
    td {
      border: 1px solid $border-color-2 !important;
    }
  }
}

.panel-card {
  width: 100%;
  float: left;

  .image-panel {
    float: left;
    width: 120px;
  }

  .panel-body {
    float: left;
    width: auto;
  }
}

.text-primary {
  color: #1a73e8 !important;
}

.custom-table {
  .mat-header-row {
    min-height: 32px;
    height: 32px;
    border: 0;

    .mat-header-cell {
      @extend %heading-fonts;
    }
  }

  .mat-row {
    min-height: 32px;
    height: 32px;
    background-color: $white;

    .mat-footer-cell,
    .mat-button-base,
    .mat-button-wrapper {
      @extend %normal-fonts;
    }
  }

  mat-row,
  mat-footer-row {
    border-color: $white;
    cursor: pointer;

    &:hover {
      background-color: lighten($primarey-color, 10px);
      border-color: lighten($primarey-color, 10px);
    }
  }
}

.mat-form-field {
  margin: 1px 10px;

  .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-form-field-flex {
    background-color: $white;
    border-radius: 4px;
    height: 30px;

    .mat-form-field-flex {
      .mat-form-field-infix {
        @extend %bold-fonts;
      }
    }
  }

  .mat-form-field-infix {
    border-top: 0;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;

    .mat-form-field-label-wrapper {
      top: 0;
      padding-top: 9px;
      padding-left: 10px;
      display: none;
      box-sizing: border-box;

      .mat-form-field-label {
        position: static;
      }
    }
  }

  &.mat-form-field-hide-placeholder {
    .mat-form-field-label-wrapper {
      display: inline;
    }
  }

  .mat-input-element,
  .mat-select-min-line {
    margin-top: 4px;
    display: block;
    @extend %bold-fonts;
  }
}

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 0;
}

