<div class="container-fluid mt-5">
    <mat-grid-list cols="3" rowHeight="120px" style="height: 600px;" gutterSize="10">
        <mat-grid-tile>

            <div class="panel-card">
                <div class="image-panel">
                    <img src="../../../../../../../assets/images/image-1.jpg">
                </div>
                <div class="panel-body">
                    <h1 class="text-primary">Compnay Setup</h1>
                    <p>
                        Configure company profile and major HR policies
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>

            <div class="panel-card">
                <div class="image-panel">
                    <img src="../../../../../../../assets/images/image-2.jpg">
                </div>
                <div class="panel-body">
                    <h1 class="text-primary">Organization Chart</h1>
                    <p>
                        The organization chat gives insight into the herarchy of the organization

                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>

            <div class="panel-card">
                <div class="image-panel">
                    <a class="text-primary"
                        [routerLink]="['/people/organization-employee/hr-services/emp-profile/employees']">
                        <img src="../../../../../../../assets/images/image-3.jpg">
                    </a>
                </div>
                <div class="panel-body">
                    <a class="text-primary"
                        [routerLink]="['/people/organization-employee/hr-services/emp-profile/employees']">
                        <h1 class="text-primary">Employee Profile</h1>
                    </a>
                    <p>
                        Review and manage employee information
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>

            <div class="panel-card">
                <div class="image-panel">
                    <img src="../../../../../../../assets/images/image-1.jpg">
                </div>
                <div class="panel-body">
                    <h1 class="text-primary">Access Matrix</h1>
                    <p>
                        Access Matrix with User Role and Employee Portal
                    </p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>